.m-notify-container {
    position: fixed;
    z-index: 10000;
    pointer-events: none;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;

    &.is-top-center,
    &.is-top-left,
    &.is-top-right {
        width: 100%;
        top: 0;
        left: 0;
    }

    &.is-top-left {
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    &.is-top-center {
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }

    &.is-top-right {
        -ms-flex-align: end;
        -webkit-box-align: end;
        align-items: flex-end;
    }

    &.is-center {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    &.is-bottom-center,
    &.is-bottom-left,
    &.is-bottom-right {
        bottom: 70px;
        left: 0;
        width: 100%;
        -ms-flex-pack: end;
        -webkit-box-pack: end;
        justify-content: flex-end;
    }

    &.is-bottom-left {
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    &.is-bottom-center {
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }

    &.is-bottom-right {
        -ms-flex-align: end;
        -webkit-box-align: end;
        align-items: flex-end;
    }

    .m-notify-wrapper {
        display: inline-block;
        max-width: 500px;

        .m-notify {
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-align: center;
            -webkit-box-align: center;
            align-items: center;
            padding: 9px 10px;
            font-size: 14px;
            overflow: hidden;
            border-radius: 4px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
            color: #fff;
            background: rgba(0, 0, 0, 0.75);
            pointer-events: all;
            position: relative;

            .m-notify-icons {
                float: left;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                margin-right: 10px;
            }

            .m-notify-icons svg {
                display: inline-block;
                width: 22px;
                height: 22px;
            }

            .m-notify-content {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                overflow: auto;
                width: 100%;
            }

            .m-notify-description {
                line-height: 1.6;
                color: #fff;
            }
        }
    }

    .m-notify-wrapper + .m-notify-wrapper {
        margin-top: 10px;
    }

    .m-notify-wrapper:after,
    .m-notify-wrapper:before {
        content: "";
        clear: both;
        display: table;
    }
}

.m-notify-fade-in {
    -webkit-animation: m-notify-fade-in 0.3s;
    animation: m-notify-fade-in 0.3s;
}

.m-notify-fade-out {
    -webkit-animation: m-notify-fade-out 0.3s;
    animation: m-notify-fade-out 0.3s;
}

.m-alert-fade-in {
    -webkit-animation: m-alert-fade-in 0.3s;
    animation: m-alert-fade-in 0.3s;
}

.m-alert-fade-out {
    -webkit-animation: m-alert-fade-out 0.3s;
    animation: m-alert-fade-out 0.3s;
}

.m-alert-container {
    display: flex;
    position: fixed;
    z-index: 2050;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.625em;
    overflow-x: hidden;
    transition: background-color 0.1s;
    background-color: transparent;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0, 0, 0, 0.4);

    .m-alert {
        position: relative;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        width: 32em;
        max-width: 100%;
        padding: 1.25em;
        border: none;
        border-radius: 0.3125em;
        background: #fff;
        font-family: inherit;
        font-size: 1rem;
        z-index: 1;

        .m-alert-header {
            display: flex;
            flex-direction: column;
            align-items: center;

            .m-alert-icon {
                position: relative;
                box-sizing: content-box;
                justify-content: center;
                width: 5em;
                height: 5em;
                margin: 1.25em auto 1.875em;
                border: 0.25em solid transparent;
                border-radius: 50%;
                font-family: inherit;
                line-height: 5em;
                cursor: default;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                display: flex;
            }

            .m-alert-icon::before {
                display: flex;
                align-items: center;
                height: 92%;
                font-size: 3.75em;
            }

            .m-alert-icon-info {
                border-color: #9de0f6;
                color: #3fc3ee;
            }

            .m-alert-icon-info:before {
                content: "i";
            }

            .m-alert-icon-success {
                border-color: #a5dc86;
                position: relative;
            }

            .m-alert-icon-success:before {
                content: "";
                display: block;
                position: absolute;
                z-index: 2;
                height: 0.3125em;
                border-radius: 0.125em;
                background-color: #a5dc86;
                top: 2.875em;
                left: 0.875em;
                width: 1.5625em;
                transform: rotate(45deg);
                font-size: inherit;
            }

            .m-alert-icon-success:after {
                content: "";
                display: block;
                position: absolute;
                z-index: 2;
                height: 0.3125em;
                border-radius: 0.125em;
                background-color: #a5dc86;
                top: 2.375em;
                right: 0.5em;
                width: 2.9375em;
                transform: rotate(-45deg);
            }

            .m-alert-icon-warning {
                border-color: #facea8;
                color: #f8bb86;
            }

            .m-alert-icon-warning:before {
                content: "!";
            }

            .m-alert-icon-error {
                border-color: #f27474;
                position: relative;
            }

            .m-alert-icon-error:before {
                content: "";
                display: block;
                position: absolute;
                top: 2.3125em;
                width: 2.9375em;
                height: 0.3125em;
                border-radius: 0.125em;
                background-color: #f27474;
                left: 1.0625em;
                transform: rotate(45deg);
                font-size: inherit;
            }

            .m-alert-icon-error:after {
                content: "";
                display: block;
                position: absolute;
                top: 2.3125em;
                width: 2.9375em;
                height: 0.3125em;
                border-radius: 0.125em;
                background-color: #f27474;
                right: 1em;
                transform: rotate(-45deg);
            }

            .m-alert-icon-question {
                border-color: #c9dae1;
                color: #87adbd;
            }

            .m-alert-icon-question:before {
                content: "?";
            }

            .m-alert-title {
                font-size: 1.3rem;
                margin: 10px 0;
            }
        }

        .m-alert-content {
            z-index: 1;
            justify-content: center;
            margin: 0;
            padding: 0;
            color: #545454;
            font-size: 1.125em;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            word-wrap: break-word;
        }

        .m-alert-input {
            height: 42px;
        }

        .m-alert-action {
            display: flex;
            z-index: 1;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 1.25em auto 0;

            button {
                display: inline-block;
                margin: 0 5px;
                padding: 8px 12px;
                min-width: 80px;
            }
        }
    }
}

.m-spinner {
    stroke: #f2f2f2;
    stroke-width: 3;
    stroke-linecap: round;
    background: none;
    vertical-align: middle;

    .path {
        fill: none;
        stroke: #f2f2f2;
    }

    .active-path {
        fill: none;
        stroke: #20a0ff;
        transform-origin: 50% 50%;
        stroke-dasharray: 90, 150;
        stroke-dashoffset: 0;
        animation: spinner-wipe 1.5s ease-in-out infinite,
            spinner-rotate 2s linear infinite;
    }
}

.m-loading:not(.full) {
    text-align: center;
    margin: 10px 0;

    .bg {
        display: inline-block;
        background: #fff;
        padding: 6px 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        line-height: 19px;

        svg {
            float: left;
            margin-right: 5px;
        }

        i {
            display: inline-block;
            width: 20px;
            text-align: left;
        }
    }
}

.m-loading.full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;

    .bg {
        background: #fff;
        padding: 10px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 5px #888;
        border-radius: 5px;
        color: #333;
        font-size: 15px;
        line-height: 19px;

        svg {
            float: left;
            margin-right: 5px;
        }

        i {
            width: 20px;
            display: inline-block;
            text-align: left;
        }
    }
}

@keyframes m-notify-fade-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes m-notify-fade-out {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes m-alert-fade-in {
    0% {
        transform: scale(0.7);
    }
    45% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes m-alert-fade-out {
    0% {
        transform: scale(1);
    }
    45% {
        transform: scale(0.95);
    }
    80% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(0.7);
    }
}

@keyframes spinner-rotate {
    to {
        transform: rotate(1turn);
    }
}

@keyframes spinner-wipe {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -40px;
    }

    to {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -120px;
    }
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    color: #494949; 
    font-size: 14px;
    line-height: 1.4;
}

.table-bordered td,
.table-bordered th { padding: 8px; }
.table-bordered thead td,
.table-bordered thead th { border-bottom-width: 0px;}
a, a:hover { text-decoration: none; }

.icon-warm-delete {
    font-size: 50px;
    margin-top: 8px;
    margin-right: 15px;
}

.bg-fff { background-color: #fff; }
.error.text-danger.font-italic {
    font-size: 14px;
    padding-top: 5px;
}

// Login
.login-form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 90vh;
    form {
        width: 350px;
        border: 2px solid #369;
        padding: 30px 15px;
    }

    div.text-danger {
        font-size: 14px;
        font-style: italic;
        margin-top: 5px;
    }
}

// forget password form
.forget-password-form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 90vh;
    form {
        width: 350px;
        border: 2px solid #369;
        padding: 30px 15px;
    }

    div.text-danger {
        font-size: 14px;
        font-style: italic;
        margin-top: 5px;
    }
}

/* Side bar */
$side-bar-width: 230px;
$header-height: 60px;
$side-bar-width-small: 65px;
.wrap-bg {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 12;
    display: none;
}
#side-bar {
    width: $side-bar-width;
    height: 100%;
    top: 0;
    position: fixed;
    left: 0;
    transition: all ease-in-out 0.4s;
    border-right: 1px solid #369;
    background-image: url("/images/side-bar-background.jpg");
    z-index: 15;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;

    .top {
        border-bottom: 1px solid #d0cccd;
        .avatar img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid #369;
        }
        .role {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all ease-in-out 0.4s;
            b, span {
                color: #fff;
                text-transform: capitalize;
            }
        }
    }

    .menu {
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 100%;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
            a {
                width: $side-bar-width;
                padding: 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: all ease-in-out 0.4s;
                color: #fff;
            }
            a:hover{
                text-decoration: none;
            }
        }
        .router-link-exact-active { background-color: #117a8b; }
    }
}

#app, .wrap {
    height: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    width: calc(100% - $side-bar-width);
    height: 100%;
    margin-left: $side-bar-width;
    position: relative;
    transition: all ease-in-out 0.4s;

    .header {
        height: $header-height;
        padding: 12px 20px;
        transition: all ease-in-out 0.4s;
        border-bottom: 1px solid #ddd;
        background-color: #fff;
        .fas.fa-bars {
            cursor: pointer;
        }
        .btn-group {
            cursor: pointer;
        }
        .avatar {
            .dropdown-menu.show {
                top: 5px !important;
            }
            img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
                border: 1px solid #369;
            }
        }

        //Icon clock
        .clock-icon {
            .dropdown-menu {
                width: 250px;
            }
            .dropdown-menu.show {
                left: -160px !important;
                top: 14px !important;
                a span {
                    font-size: 12px;
                }
            }
            .number-job {
                position: absolute;
                left: 18px;
                bottom: 10px;
                z-index: 2;
                font-weight: bold;
            }
        }
    }
    .main-content {
        width: 100%;
        height: calc(100% - $header-height);
        overflow-x: hidden;
        overflow-y: auto;
        background: #fbfbfb;
        padding: 20px 20px 0px 20px;
    }
}

.side-bar-small {
    #side-bar {
        width: $side-bar-width-small;
        .role { width: 0; }
        li {
            a { width: $side-bar-width-small; }
        }
    }
    #main {
        width: calc(100% - $side-bar-width-small);
        margin-left: $side-bar-width-small;
        .header { width: calc(100% - $side-bar-width-small); }
    }
}

@media screen and (max-width: 768px) {
    #side-bar {
        margin-left: -$side-bar-width;
        .role { width: $side-bar-width !important; }
    }
    #main {
        margin-left: 0;
        width: 100%;
        .header {
            width: 100%;
        }
    }
    .side-bar-small {
        .wrap-bg {
            display: block !important;
        }
        #side-bar {
            width: $side-bar-width;
            margin-left: 0;
            z-index: 15;
            li a {
                width: 100%;
            }
        }
        #main {
            width: 100%;
            margin-left: 0;
            .header {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    #main .header .clock-icon {
        .dropdown-menu.show {
            left: 0px !important;
            top: 14px !important;
        }
    }
}

@media screen and (max-width: 250px) {
    #main .header .clock-icon {
        .dropdown-menu {
            width: 200px;
        }
    }
}

.list .btn-sm {
    padding: 2px 5px;
    font-size: 12px;
}

body textarea { font-size: 14px; }

/* Profile page*/
.profile {
    .avatar {
        div {
            position: relative;
            display: inline-block;
            .avatar-icon-remove {
                position: absolute;
                right: 0;
                top: 0;
                padding: 5px;
                color: red;
                background: rgb(255, 255, 255);
                border: 1px solid #ccc;
                cursor: pointer;
            }
        }

        img {
            width: 100%;
            height: auto;
            max-height: 300px;
            object-fit: cover;
            border: 1px solid #ddd; 
        }
    }
}

/* Project page */
#project {
    .list ul {
        padding: 0;
        list-style: none;
        .block {
            background-color: #e4e4e4;
            position: relative;
            .block-text {
                position: absolute;
                top: 0;
                right: 0px;
                background-color: #fff;
                padding: 0px 5px;
                border-radius: 0px 0px 0px 10px
            }
        }
    }
}

/* nhóm làm việc */
#department {
    .list ul {
        padding: 0;
        list-style: none;
        li .info {
            padding: 10px;
            border: 1px solid #ccc;
            box-shadow: 0px 2px 7px 0px #ddd;
        }

        .avt-mem li {
            margin-left: -15px;
            list-style: none;
            img, span {
                border: 1px solid #17a2b8;
                border-radius: 50%;
                width: 35px; 
                height: 35px;
                object-fit: cover;
            }

            span {
                background-color: #ddd;
                background-color: #ddd;
                display: inline-block;
                text-align: center;
                padding-top: 5px;
                font-weight: bold;
                margin-left: -20px;
            }
        }
        .avt-mem li:nth-child(1) {
            margin-left: 0;
        }
    }

    #department_modal_add .members {
        margin-top: 10px;
        ul {
            list-style-type: none;
            padding: 0;
            li {
                border: 1px solid #ddd;
                border-radius: 30px;
                padding: 6px 30px 6px 12px;
                position: relative;
                margin: 0px 5px 5px 0px;
                img {
                    width: 20px;
                    height: 20px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .icon-remove {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
            }
        }
    }
}


/* Chi tiết nhóm làm việc */
#department-detail {
    .new-members {
        margin-top: 10px;
        ul {
            list-style-type: none;
            padding: 0;
            li {
                border: 1px solid #ddd;
                border-radius: 30px;
                padding: 6px 30px 6px 12px;
                position: relative;
                margin: 0px 5px 5px 0px;
                img {
                    width: 20px;
                    height: 20px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .icon-remove {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}

/* Công việc */
#task {
    ul {
        padding: 0px;
        list-style: none;

        li .info {
            border: 1px solid #17a2b8;
            a {
                color: #333;
                padding: 10px;
                display: block;
            }
        }
    }

    .pre-tasks {
        ul li {
            border: 1px solid #ddd;
            display: inline-block;
            padding: 3px 8px 5px 8px;
            border-radius: 30px;
            font-size: 13px;
            i {
                margin-left: 5px;
            }
        }
    }
}

/* job */
#job {
    ul {
        padding: 0px;
        list-style: none;

        li .info {
            border: 1px solid #17a2b8;
            padding: 10px;
        }
    }

    .pre-jobs {
        ul li {
            border: 1px solid #ddd;
            display: inline-block;
            padding: 3px 8px 5px 8px;
            border-radius: 30px;
            font-size: 13px;
            i {
                margin-left: 5px;
            }
        }
    }
}

#label {
    .list ul {
        list-style-type: none;
        padding: 0;
        .item {
            width: 100%;
            display: block;
            border: 1px solid #117a8b;
            padding: 10px;
            background: #fff;
            box-shadow: 0px 2px 7px 0px #ddd;
        }
    }
}


#dashboard {
    .number {
        .item {
            border: 1px solid #117a8b;
            background-color: #fff;
            min-height: 164px;
            .top {
                border-bottom: 1px solid #ddd;
                padding: 10px;
            }
            .bottom {
                padding: 10px;

                h3 {
                    width: 20%;
                    font-size: 40px;
                }
            }
        }
    }
}

$width_left: 200px;
#chat {
    display: flex;
    margin: -20px;
    height: 100%;
    overflow: hidden;

    .left {
        display: flex;
        width: 220px;
        height: 100%;
        flex-direction: column;
        border-right: 1px solid #ddd;

        .search {
            border-bottom: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 5px;
        }

        .users {
            flex-grow: 1;
            overflow-x: hidden;
            overflow-y: auto;

            ul {
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;

                li {
                    border-bottom: 1px solid #f2f2f2;

                    a {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        user-select: none;
                        padding: 7px 10px;
                        color: #333;
                    }

                    a.active {
                        background-color: #ecf7f9;
                    }

                    .image {
                        position: relative;
                        width: 40px;
                        height: 40px;
                        border: 1px solid #ddd;
                        border-radius: 50%;
                        margin-right: 10px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }

                        .online {
                            position: absolute;
                            right: -2px;
                            bottom: -2px;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background: green;
                            border: 1px solid #fff;
                        }
                    }

                    .info {
                        position: relative;
                        flex-grow: 1;
                        font-size: 11px;

                        .name {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        .latest-message {
                            color: #777;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            margin-top: 2px;
                        }

                        .time {
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-size: 9px;
                            color: #666;
                        }

                        .new {
                            position: absolute;
                            top: 20px;
                            right: 0;
                            width: 16px;
                            height: 16px;
                            text-align: center;
                            background: red;
                            color: white;
                            border-radius: 50%;
                            font-size: 10px;
                            line-height: 15px;
                        }
                    }
                }
            }
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        width: calc(100% - 200px);
        height: 100%;

        .show-left-btn { display: none; }
        .info {
            padding: 10px;
            width: 100%;
            height: 60px;
            border-bottom: 1px solid #ddd;
            display: flex;
            align-items: center;
            background-color: #fff;

            .image {
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
                border: 1px solid #ddd;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .online {
                    position: absolute;
                    right: -2px;
                    bottom: -2px;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background: green;
                    border: 1px solid #fff;
                }
            }
        }

        .messages {
            flex-grow: 1;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 0;
            background-color: #f5f5f5;

            ul {
                list-style: none;
                padding: 10px;
                margin: 0;

                li.message-item {
                    padding: 10px 0;
                    display: block;
                    text-align: left;

                    &.me {
                        text-align: right;

                        .bg {
                            text-align: left;
                        }

                        .content-message {
                            
                            background-color: #f1fbff;
                        }

                        .avt {
                            margin-left: 10px;
                        }
                    }

                    &:not(.me) {
                        .content-message {
                            background-color: #f6e2ff;
                        }

                        .avt {
                            margin-right: 10px;
                        }
                    }

                    .bg {
                        border-radius: 6px;
                        color: #333;
                        min-width: 100px;
                        max-width: calc(100% - 100px);
                        clear: both;
                        font-size: 13px;
                        line-height: 1.4;
                        user-select: none;
                        position: relative;
                        display: inline-flex;

                        .content-message {
                            padding: 10px;
                            border-radius: 10px;
                            border: 1px solid #ddd;
                        }

                        .avt {
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                            border: 1px solid #ddd;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

        .form {
            border-top: 1px solid #ddd;
            
            form {
                height: 60px;
                padding-right: 8px;
                display: flex;
                align-items: center;
                input {
                    border: none;
                }
                .form-control:focus {
                    box-shadow: none;
                }
            }
        }
    }
}

#chart_div {
    height: 1500px;
    min-width: 1000px;
}

#user {
    .wrap-avt {
        position: relative;
        display: inline-block;
        .icon-delete-avt {
            position: absolute;
            right: 0;
            top: 0;
            color: red;
            background: #ccc;
            padding: 4px;
            cursor: pointer;
        }
    }
}

@media (min-width: 768px) {
    .scrollbar {
        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
}

@media (max-width: 550px) {
    #chat {
        .left { width: 0px; }
        .right {
            width: 100%;
            display: flex;
            .show-left-btn { display: block; }
        }
    }
    #chat.show-left {
        .left { width: 100%; }
        .right { 
            display: none;
        }
    }
}